<%- include('partials/head') %>
    <h1>My ToDo list</h1>
    <div id="todo-table">
        <form action="/todo" method="POST" id="add-todo">
            <input type="text" 
                name="item" 
                id="new-item" 
                placeholder="Add new item"
                required >
            <button type="submit">Add item</button>
        </form>
        <ul>
            <% todos.forEach(todo => { %>
                <li><%= todo.item %></li>
            <% }); %>
        </ul>
    </div>
<%- include('partials/footer') %>